body{
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: blueviolet;
    border-radius: 6px;
  }